In [1]:
# Step 2: Import libraries

import pandas as pd
import numpy as np
import random

print("Libraries imported successfully")

Libraries imported successfully

In [2]:
# Step 3: Define dataset size

num_records = 500

num_records

500

In [3]:
# Step 4: HBR Books list

books = [
    "HBR Guide to Data Analytics",
    "HBR Emotional Intelligence",
    "HBR Guide to Leadership",
    "HBR Guide to Better Business Writing",
    "HBR Guide to Project Management",
    "HBR Guide to Finance Basics",
    "HBR Guide to Strategic Thinking",
    "HBR Guide to Remote Work",
    "HBR Guide to Managing People",
    "HBR Guide to Negotiation"
]

In [4]:
# Step 5: Demographics

age_groups = ["18-25", "26-35", "36-45", "46-60", "60+"]
genders = ["Male", "Female", "Non-Binary"]
regions = ["North America", "Europe", "Asia", "South America", "Africa"]
income_levels = ["Low", "Medium", "High"]
education_levels = ["Undergraduate", "Graduate", "MBA", "PhD"]

In [5]:
# Step 6: Generate synthetic dataset

data = []

for i in range(num_records):
    
    book = random.choice(books)
    
    units_sold = random.randint(50, 1000)
    
    price = round(random.uniform(10, 50), 2)
    
    cost = round(price * random.uniform(0.4, 0.7), 2)
    
    revenue = round(units_sold * price, 2)
    
    total_cost = round(units_sold * cost, 2)
    
    profit = round(revenue - total_cost, 2)
    
    profit_margin = round((profit / revenue) * 100, 2)
    
    age = random.choice(age_groups)
    gender = random.choice(genders)
    region = random.choice(regions)
    income = random.choice(income_levels)
    education = random.choice(education_levels)
    
    data.append([
        i+1,
        book,
        units_sold,
        price,
        cost,
        revenue,
        total_cost,
        profit,
        profit_margin,
        age,
        gender,
        region,
        income,
        education
    ])

In [6]:
# Step 7: Create DataFrame

columns = [
    "Sale_ID",
    "Book_Title",
    "Units_Sold",
    "Price",
    "Cost",
    "Revenue",
    "Total_Cost",
    "Profit",
    "Profit_Margin (%)",
    "Age_Group",
    "Gender",
    "Region",
    "Income_Level",
    "Education_Level"
]

df = pd.DataFrame(data, columns=columns)

df.head()

,Sale_ID,Book_Title,Units_Sold,Price,Cost,Revenue,Total_Cost,Profit,Profit_Margin (%),Age_Group,Gender,Region,Income_Level,Education_Level
0,1,HBR Guide to Better Business Writing,205,43.08,19.36,8831.40,3968.80,4862.60,55.06,60+,Female,Europe,High,MBA
1,2,HBR Guide to Leadership,593,25.01,10.33,14830.93,6125.69,8705.24,58.70,18-25,Male,North America,Medium,Graduate
2,3,HBR Guide to Project Management,665,38.50,16.67,25602.50,11085.55,14516.95,56.70,46-60,Non-Binary,Asia,Medium,PhD
3,4,HBR Guide to Better Business Writing,198,23.30,14.93,4613.40,2956.14,1657.26,35.92,36-45,Male,Europe,High,Graduate
4,5,HBR Guide to Project Management,213,10.80,5.00,2300.40,1065.00,1235.40,53.70,46-60,Male,South America,Medium,Graduate

In [7]:
# Step 8: Dataset info

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Sale_ID            500 non-null    int64
 1   Book_Title         500 non-null    object
 2   Units_Sold         500 non-null    int64
 3   Price              500 non-null    float64
 4   Cost               500 non-null    float64
 5   Revenue            500 non-null    float64
 6   Total_Cost         500 non-null    float64
 7   Profit             500 non-null    float64
 8   Profit_Margin (%)  500 non-null    float64
 9   Age_Group          500 non-null    object
 10  Gender             500 non-null    object
 11  Region             500 non-null    object
 12  Income_Level       500 non-null    object
 13  Education_Level    500 non-null    object
dtypes: float64(6), int64(2), object(6)
memory usage: 54.8+ KB

In [8]:
# Step 9: Summary statistics

df.describe()

,Sale_ID,Units_Sold,Price,Cost,Revenue,Total_Cost,Profit,Profit_Margin (%)
count,500.000000,500.000000,500.000000,500.000000,500.00000,500.000000,500.000000,500.000000
mean,250.500000,514.738000,30.456860,16.841760,15441.86336,8557.196360,6884.667000,44.456780
std,144.481833,281.881898,11.479635,6.748232,10853.53280,6128.730014,5184.540806,8.759794
min,1.000000,51.000000,10.160000,4.470000,711.20000,376.600000,254.800000,30.000000
25%,125.750000,266.750000,21.690000,11.405000,7016.43250,3655.447500,2959.170000,36.960000
50%,250.500000,509.000000,30.805000,16.850000,12428.95500,6544.140000,5499.840000,44.230000
75%,375.250000,766.250000,40.102500,21.952500,22109.51250,12892.590000,9127.717500,51.435000
max,500.000000,999.000000,49.990000,32.680000,47738.55000,30392.280000,25420.800000,59.880000

In [9]:
# Step 10: Save dataset

df.to_csv("HBR_Books_Sales_Dataset.csv", index=False)

print("Dataset saved successfully")

Dataset saved successfully

In [10]:
# Step 11: Total Revenue

total_revenue = df["Revenue"].sum()

print("Total Revenue:", total_revenue)

Total Revenue: 7720931.68

In [11]:
# Step 12: Average profit margin

avg_margin = df["Profit_Margin (%)"].mean()

print("Average Profit Margin:", avg_margin)

Average Profit Margin: 44.45678

In [12]:
# Step 13: Sales by Region

region_sales = df.groupby("Region")["Revenue"].sum()

region_sales

Region
Africa           1740855.07
Asia             1660702.91
Europe           1470522.25
North America    1569146.15
South America    1279705.30
Name: Revenue, dtype: float64

In [13]:
# Step 14: Most profitable book

profit_by_book = df.groupby("Book_Title")["Profit"].sum()

profit_by_book.sort_values(ascending=False)

Book_Title
HBR Guide to Leadership                 442033.70
HBR Emotional Intelligence              426682.03
HBR Guide to Strategic Thinking         418782.04
HBR Guide to Project Management         388588.87
HBR Guide to Remote Work                366328.25
HBR Guide to Data Analytics             347022.33
HBR Guide to Finance Basics             308130.22
HBR Guide to Better Business Writing    284463.79
HBR Guide to Managing People            272606.72
HBR Guide to Negotiation                187695.55
Name: Profit, dtype: float64